<!DOCTYPE html>
<html>
<head lang="zh_cn">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="lib/angular.js"></script>
</head>
<body ng-app ng-init="qty=1;cost=2" id="ng-app">
<div>
    <b>Invoice:</b>

    <div>
        Quantity: <input type="number" min="0" ng-model="qty">
    </div>
    <div>
        Costs: <input type="number" min="0" ng-model="cost">
    </div>
    <div>
        <b>Total:</b> {{qty * cost | currency}}
    </div>
</div>
</body>
</html>



